*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 1.1em;
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background-color: black;
}
section {
    scroll-margin-top: 90px;
}
header{
    background-color: #a57c62;
    padding: 15px 30px ;
    width: 100%;
    position: fixed; /*Fixa o header no topo da página, mesmo quando o usuário rola o conteúdo.*/
    z-index: 1000; /*Define a camada em que o header vai aparecer. Como o número é alto (1000), ele vai ficar acima da maioria dos outros elementos*/
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 40px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Caveat Brush';
}
a:hover{
    font-size: 1em;
    text-shadow: 4px 5px 3px #7c1527;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{ 
    max-width: 1200px; /*limita a largura máxima*/
    margin: auto; /*centraliza o container*/
    padding: 20px; /*adiciona espaçamento interno*/
}
.logo img {
    max-height: 60px;
    width: auto;
}
#inicio {
    padding-top: 150px;
}
.banner {
    background: url(../img/bannerrita.jpg) no-repeat /*a imagem não se repete*/ center/cover /*faz distrubuição da imagem para ocupar todo o espaço*/;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 4px 5px 3px #7c1527;
}
.banner h1{
    font-family: "Londrina Shadow", sans-serif;
    font-size: 1.7em;
    text-align: center;
}


#biografia{
    padding: 35px;
    color: #a57c62;
}
.biocontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px; /*limita a largura*/
    margin: auto;
}
.biotexto{
    flex: 1;
    padding: 20px;
}
.biotexto h1{
    font-size: 1.7em;
    color: #fff;
    text-shadow: 4px 5px 3px #a81e35;
    font-family: "Londrina Shadow", sans-serif;
}
.biotexto p{
    font-size: 0.7em;
    line-height: 1.5em; 
    text-align: justify;
}
.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1; /*ocupa o mesmo espaço horizontal que o texto*/
}
.hex{
    width: 140px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /*serve para recortar um elemento*/
    overflow: hidden;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#discografia h1, #galeria h1{
    font-size: 2em;
    color: #fff;
    text-shadow: 4px 5px 3px #a81e35;
    text-align: center;
    font-family: "Londrina Shadow", sans-serif;
}
#discografia .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    text-align: center;
    padding: 50px 70px;
}
#discografia .item{
    background-color: #a57c62;
    border: 5px inset #a81e35;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    box-shadow: 8px 8px 15px #a81e35;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
}
#discografia .item:hover{
    transform: translateY(-5px);
    box-shadow: 15px 8px 15px #e6bea5;
    border: 5px outset #e6bea5;
}
#discografia .item:active{
    transform: scale(0.98);
    box-shadow: none;
    border: 9px double #e6bea5
}
#discografia .item p{
    margin-top: 10px;
    font-size: 0.7em;
}
#discografia .item h3, .modal-content h3{
    font-family: "Londrina Shadow", sans-serif;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #a81e35;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(0, 0, 0, 0.6);
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal:target{
    display: flex;
}
.modal-content{
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: justify;
}
.modal-content p{
    font-size: 0.7em;
}
.close-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #7c1527;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

#galeria .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    
}
#galeria img{
    width: 15%;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 4px inset #d4bd7e;
}
#galeria img:hover{
    transform: scale(1.05);
}

footer{
    background-color: #a57c62;
    text-align: center;
    line-height: 2em;
}
footer p {
    font-family: 'Caveat Brush';
}
.icone {
    display: flex;
    justify-content: center;
}

@media (max-width:680px){
    header .container, .biocontainer{
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }
    nav ul li a{
        font-size: 0.5em;
    }
    #inicio{
        padding-top: 200px;
        font-size: 1.2em;
    }
    .banner{
        height: 900px;
    }
    .banner h1{
        font-size: 1em;
    }
    section {
        scroll-margin-top: 250px;
    }
    .modal{
        margin-top: 100px;
    } 
    
    .modal-content{
        max-height: 40vh;
    }
    #galeria .imagem img {
        width: 80%;
        margin: 10px;
        border-radius: 5px ;
    }


}
